<div class="container">
    <div class="card">
        <form>
            <div style="text-align: center;">
                <img src="https://i.pinimg.com/564x/d6/ba/0a/d6ba0a3dc473dac577f7caa080ed0266.jpg" alt="Imagen predeterminada" width="150">
            </div>
            
            <hr>
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" value=" Diana Lopez Briones">
            
            <label for="correo">Correo</label>
            <input type="text" id="correo" name="correo" value="franclopz@utt.edu">
            
            <label for="telefono">Telefono</label>
            <input type="text" id="telefono" name="telefono" value="+1 123-456-7890">
            
            <label for="no-empleado">No. Empleado</label>
            <input type="text" id="no-empleado" name="no-empleado" value="123465">
            
            <label for="titulo-academico">Titulo Academico</label>
            <input type="text" id="titulo-academico" name="titulo-academico" value="Ingeniero">
            
            <label for="carrera">Carrera</label>
            <input type="text" id="carrera" name="carrera" value="Ingenieria en Gestion y Desarrollo de Software">
            
            <label for="descripcion">Descripcion</label>
            <textarea id="descripcion" name="descripcion">Soy Diana Lopez Briones, un docente de programación altamente capacitado y experimentado. Me apasiona enseñar y compartir mis conocimientos en el campo de la programación con estudiantes universitarios. Mi objetivo principal es ayudar a mis estudiantes a comprender los fundamentos de la programación y desarrollar habilidades prácticas en el área.</textarea>
            
            <button type="submit"  class="boton-azul">Guardar Cambios</button>
        </form>
    </div>

    <div class="card">
        <form>
            <div style="text-align: center;">
                <img src="https://i.pinimg.com/564x/6e/db/12/6edb12da9f191fbe178916425ad11975.jpg" alt="Imagen predeterminada" width="150">
            </div>
            <hr>
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" value="Francisco Lopez Briones">
            
            <label for="correo">Correo</label>
            <input type="text" id="correo" name="correo" value="franclopz@utt.edu">
            
            <label for="telefono">Telefono</label>
            <input type="text" id="telefono" name="telefono" value="+1 123-456-7890">
            
            <label for="no-empleado">No. Empleado</label>
            <input type="text" id="no-empleado" name="no-empleado" value="123465">
            
            <label for="titulo-academico">Titulo Academico</label>
            <input type="text" id="titulo-academico" name="titulo-academico" value="Ingeniero">
            
            <label for="carrera">Carrera</label>
            <input type="text" id="carrera" name="carrera" value="Ingenieria en Gestion y Desarrollo de Software">
            
            <label for="descripcion">Descripcion</label>
            <textarea id="descripcion" name="descripcion">Soy Francisco Lopez Briones, un docente de programación altamente capacitado y experimentado. Me apasiona enseñar y compartir mis conocimientos en el campo de la programación con estudiantes universitarios. Mi objetivo principal es ayudar a mis estudiantes a comprender los fundamentos de la programación y desarrollar habilidades prácticas en el área.</textarea>
            
            <button type="submit" class="boton-azul">Guardar Cambios</button>
        </form>
    </div>

    <div class="card">
        <form>
            <div style="text-align: center;">
                <img src="https://i.pinimg.com/564x/58/26/70/5826709e0756d6a6dd8ecc58e620e9b6.jpg" alt="Imagen predeterminada" width="150">
            </div>
            <hr>
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" value=" Joanna Monserrat Espinoza Sánchez">
            
            <label for="correo">Correo</label>
            <input type="text" id="correo" name="correo" value="franclopz@utt.edu">
            
            <label for="telefono">Telefono</label>
            <input type="text" id="telefono" name="telefono" value="+1 123-456-7890">
            
            <label for="no-empleado">No. Empleado</label>
            <input type="text" id="no-empleado" name="no-empleado" value="123465">
            
            <label for="titulo-academico">Titulo Academico</label>
            <input type="text" id="titulo-academico" name="titulo-academico" value="Ingeniero">
            
            <label for="carrera">Carrera</label>
            <input type="text" id="carrera" name="carrera" value="Ingenieria en Gestion y Desarrollo de Software">
            
            <label for="descripcion">Descripcion</label>
            <textarea id="descripcion" name="descripcion">Soy Joanna Monserrat Espinoza Sánchez, un docente de programación altamente capacitado y experimentado. Me apasiona enseñar y compartir mis conocimientos en el campo de la programación con estudiantes universitarios. Mi objetivo principal es ayudar a mis estudiantes a comprender los fundamentos de la programación y desarrollar habilidades prácticas en el área.</textarea>
            
            <button type="submit"  class="boton-azul">Guardar Cambios</button>
        </form>
    </div>
    
</div>
<div class="container">
    <!-- Contenido de tu página aquí -->
</div>

<button class="boton-flotante">+</button>
