<div class="container">
    <h1>Administrador de Grupos</h1>
    <h5>Carrera</h5>
    <select class="form-select" aria-label="Default select example">
        <option selected>Seleccion</option>
        <option value="1">IDGS</option>
        <option value="2">TSU</option>
        
      </select>
      <hr>
      <h5>Periodo</h5>
      <select class="form-select" aria-label="Default select example">
        <option selected>Seleccion</option>
        <option value="1">SEP - DIC</option>
        <option value="2">ENE - ABR</option>
        <option value="3">MAY - AGOS </option>
      </select>
      <hr>
      <button class="btn btn-outline-success" type="submit">Search</button>
</div>
<hr>
<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Cuatrimestre</th>
            <th scope="col">Carrera</th>
            <th scope="col">Perido</th>
            <th scope="col">Grado</th>
            <th scope="col">Grupo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">3</th>
            <td>TSU</td>
            <td>SEP - DIC</td>
            <td>3</td>
            <td>A</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>IDGS</td>
            <td>SEP - DIC</td>
            <td>10</td>
            <td>A</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>IDGS</td>
            <td>SEP - DIC</td>
            <td>7</td>
            <td>A</td>
          </tr>
        </tbody>
      </table>
</div>